{% extends "base.html" %}
{% from "macros.html" import icon_plus %}
{% block title %}Add to a list{% endblock %}
{% block body %}
      <a class="back" href="/sources/add/count?{{ count_query }}">How many</a>
      <header class="top">
        <h1>{{ title }}</h1>
      </header>
      <p class="lede">Choose a list for this source.</p>
      <section class="list is-flat">
        {% for slug, name, note in lists %}
        <form method="post" action="/sources/add/list">
          <input type="hidden" name="feed_url" value="{{ feed_url }}">
          <input type="hidden" name="title" value="{{ title }}">
          <input type="hidden" name="item_count" value="{{ item_count }}">
          <input type="hidden" name="backfill" value="{{ backfill }}">
          <input type="hidden" name="list_slug" value="{{ slug }}">
          <button class="item" type="submit">
            <span class="title">{{ name }}</span>
            <span class="sub"><span class="byline">{{ note }}</span></span>
          </button>
        </form>
        {% endfor %}
        <a class="item add-row" href="/sources/add/new-list?{{ list_query }}">{{ icon_plus() }}Create new list</a>
      </section>
      <form class="is-apart" method="post" action="/sources/add/list">
        <input type="hidden" name="feed_url" value="{{ feed_url }}">
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="item_count" value="{{ item_count }}">
        <input type="hidden" name="backfill" value="{{ backfill }}">
        <input type="hidden" name="list_slug" value="">
        <button class="btn btn-quiet" type="submit">I'll do this later</button>
      </form>
{% endblock %}
