{% extends "base.html" %}
{% from "macros.html" import icon_plus %}
{% block title %}Lists{% endblock %}
{% block body %}
      <header class="top top-row">
        <h1>Lists</h1>
        <a class="icon-btn" href="/lists/add" aria-label="Add list">{{ icon_plus() }}</a>
      </header>

      <section class="list is-cards">
        {% for list in lists %}
        <a class="item list-row" href="/lists/{{ list.slug }}">
          <span class="title">{{ list.name }}</span>
          <span class="count">{{ list.count }}</span>
        </a>
        {% endfor %}
      </section>
{% endblock %}
