{% extends "base.html" %}
{% block title %}Sources{% endblock %}
{% block body %}
      <header class="top top-row">
        <h1>Sources</h1>
        <a class="top-edit" href="/sources/add">Add source</a>
      </header>

      {% if sources %}
      <section class="list">
        {% for source in sources %}
        <a class="item{% if source.unlisted %} is-unlisted{% endif %}" href="/sources/{{ source.id }}">
          <span class="title">{{ source.title }}</span>
          <span class="sub">
            <span class="byline">{{ source.byline }}</span>
          </span>
        </a>
        {% endfor %}
      </section>
      {% endif %}
{% endblock %}
