{% extends "base.html" %}
{% from "macros.html" import icon_plus %}
{% block title %}Add to a list{% endblock %}
{% block body %}
      <a class="back" href="/sources/{{ source.id }}">{{ source.title }}</a>
      <header class="top">
        <h1>Add to a list</h1>
      </header>
      <p class="lede">Choose a list for this source.</p>
      <section class="list is-flat">
        {% for slug, name, note in lists %}
        <form method="post" action="/sources/{{ source.id }}/list">
          <input type="hidden" name="list_slug" value="{{ slug }}">
          <button class="item" type="submit">
            <span class="title">{{ name }}</span>
            <span class="sub"><span class="byline">{{ note }}</span></span>
          </button>
        </form>
        {% endfor %}
        <a class="item add-row" href="/sources/{{ source.id }}/new-list">{{ icon_plus() }}Create new list</a>
      </section>
{% endblock %}
